
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  <h1>Mikulás bá oldala</h1>
  <h2>Új gyerek felvétele</h2>
  <form method="post">
    <label for="">
      Add meg a gyerek nevét: <br>
      <input type="text" name="nev"><br>
    </label>
    <label for="">
      Jó volt a gyerek? <br>
      <input type="checkbox" name="jo" value="1"> <br>
    </label>
    <label for="">
      Ajándék: <br>
      <input type="text" name="ajandek"><br>
    </label>
    <input type="submit" value="Új gyerek">
  </form>
    <p><a href="/">Vissza a kezdőlapra</a></p>
</body>
</html>

